#classic { padding: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;

}

#modern { padding: 1.5em;
    background-color: #ffcc00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    box-shadow: 2px 2px 4px silver;
    

}

#impact {

}

#elise { font-family: Apple chancery, cursive;

}

#doubles {

}

#gaudi {

}




